/* line 1, ../_sass/layout.scss */
html {
  padding: 50px;
}

/* line 5, ../_sass/layout.scss */
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  margin: 1em 0;
}

/* line 8, ../_sass/layout.scss */
.dataTables_info,
.dataTables_filter {
  float: left;
}

/* line 11, ../_sass/layout.scss */
.column-toggler,
.dataTables_paginate {
  float: right;
}

/* line 16, ../_sass/layout.scss */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

/* line 18, ../_sass/layout.scss */
.paginate_disabled_previous {
  background-image: url(../images/back_disabled.jpg);
}

/* line 19, ../_sass/layout.scss */
.paginate_enabled_previous {
  background-image: url(../images/back_enabled.jpg);
}

/* line 20, ../_sass/layout.scss */
.paginate_disabled_next {
  background-image: url(../images/forward_disabled.jpg);
}

/* line 21, ../_sass/layout.scss */
.paginate_enabled_next {
  background-image: url(../images/forward_enabled.jpg);
}

/* line 23, ../_sass/layout.scss */
.clear {
  clear: both;
}
