// 1 tab = 4 spaces
// Global font-size, set only once.
$fsz: 14px; // = 0.875em
$family: Helvetica, Arial, Freesans, Clean, sans-serif;

// Calculate the em size dynamically. If your global font-size is 12px but local font-size is 16px (= 1em)
// and you want 24px for margin, you can't simply write 2em, that would be 32px! What you need is (24px / 16px)em.
//
// $target-px: the size you want
// $context: the font-size of the actual element. If font-size is not set it will be $fsz (see above) by default.
@function em($target-px, $context: $fsz) {
	@return ($target-px / $context) * 1em;
}

@mixin box-sizing($sizing) {
	-moz-box-sizing:    $sizing;
	-webkit-box-sizing: $sizing;
	-o-box-sizing:      $sizing;
	-ms-box-sizing:     $sizing;
	box-sizing:         $sizing;
}

@mixin transition($transition) {
	-moz-transition:    $transition;
	-webkit-transition: $transition;
	-o-transition:      $transition;
	-ms-transition:     $transition;
	transition:         $transition;
}