// 1 tab = 4 spaces
@import 'shared';

html							{ font: 1em/1.5em $family; color: #222; background: white; }

h1								{ margin: 0 0 em($fsz, 36px); font-size: #{ 36px/$fsz }em; color: #444; line-height: normal;
								  font-weight: normal; }
h2								{ margin: em(24px, 24px) 0 em($fsz, 24px); font-size: em(24px); font-weight: normal; }
h3, h4, h5, h6					{ margin: em(24px, 18px) 0 em($fsz, 18px); font-size: em(18px); }

h2, h3 {
	small {
									  font-size: em(16px, 24px); line-height: 1;
		a {
									  margin-left: 8px; color: #aaa; text-decoration: none;
			&:hover,
			&:focus					{ color: blue; text-decoration: underline; }
		}
	}
}

p, ul, ol, dl, pre				{ margin: 1em 0; }

ul {
								  padding: 0; list-style: none;
	li							{ padding-left: 1.5em; background: url(/images/gfx/list-item.gif) em(8px) em(9px) no-repeat; }
}
ol								{ margin-left: 2.5em; padding: 0; }

a {
								  color: blue;
	&:hover,
	&:focus						{  }
}

q:lang(cs)						{ quotes: '„' '“' '‚' '‘'; }
hr								{ height: 1px; margin: 2em 0; border: none; color: #dadada; background: #dadada; }
.clear							{ clear: both; }