html, body						{ margin: 0; padding: 0; }

.stripe							{ padding: 2em 0; }
.stripe:nth-of-type(2n)			{ background: #eee; }
.stripe:first-of-type			{ padding-top: 4em; }
.stripe:last-of-type			{ padding-bottom: 4em; }

.width							{ width: 80%; margin: 0 auto; }

.loading {
	img							{ margin-right: 5px; vertical-align: top; }
	span						{ vertical-align: middle; }
}

.gravatar img					{ margin-left: 4px; }

@media screen and (max-width: 767px) 
{
	.container_12 .grid_4		{ width: 100%; }
}