- unless @repos.empty?
  - @repos.each do |group|
    .grid.grid_4
      .content
        %ul
          - group.each do |repo|
            %li
              %a{ :href => repo[:html_url] }= repo[:name]
