.stripe
  .width.container.container_12
    .grid.grid_12
      .content
        %p.mee
          - text = 'Ye, I like fun. :) The photo is a little dated but I look the same.'
          %img{ src: '/images/foto.gif', alt: text, title: text }

        %h1 Oldřich Vetešník

        %p I am a web developer and a freelancer <a href="http://maps.google.com/maps?q=Hradec+Kr%C3%A1lov%C3%A9,+%C4%8Cesk%C3%A1+republika&amp;hl=en&amp;ie=UTF8&amp;sll=37.027424,-112.420232&amp;sspn=40.222514,112.5&amp;oq=Hrad&amp;t=w&amp;hnear=Hradec+Kr%C3%A1lov%C3%A9,+Czech+Republic&amp;z=4" rel="nofollow" title="Look me up on the map">from the Czech Republic</a>, usually building web applications in <a href="http://rubyonrails.org/" rel="nofollow">Rails</a>, simple tools in <a href="http://www.ruby-lang.org/en/" rel="nofollow">Ruby</a> and sometimes in PHP. Besides that I like to design with JavaScript, HTML & SCSS. I&nbsp;try to write serious things on my <a href="http://blog.oldrichvetesnik.cz/">blog</a> and nonsense on <a href="http://www.mrmil.cz/">Mrmil.cz</a>.

        %h2 Highlights

        %p Here are a few things I have done and might be useful to you:
    .clear

.stripe
  .width.container.container_12
    .grid.grid_4
      .content
        %h3
          %a{ href: 'http://responsive.oldrichvetesnik.cz/' } Responsive
          %small
            %a{ href: 'https://github.com/ollie/responsive' } Source code
        %p A simple HTML page to test other pages in different resolutions and/or User Agent strings.

    .grid.grid_4
      .content
        %h3
          %a{ href: 'http://screencasts.oldrichvetesnik.cz/' } Screencasts
          %small
            %a{ href: 'https://github.com/ollie/screencasts' } Source code
        %p A web application for keeping track of screencasts you have or haven't seen.

    .grid.grid_4
      .content
        %h3
          %a{ href: 'http://fsx.oldrichvetesnik.cz/' } FSX Flight Planner
          %small
            %a{ href: 'https://github.com/ollie/fsx_flight_planner' } Source code
        %p A simple Rails application for generating random flight plans for Microsoft Flight Simulator X Gold.
    .clear

    .grid.grid_4
      .content
        %h3
          %a{ href: 'https://github.com/ollie/reminder' } Reminder
          %small
            %a{ href: 'https://github.com/ollie/reminder' } Source code
        %p This is a simple Ruby command-line application to display upcoming and past events like birthdays, namedays and payments.

    .grid.grid_4
      .content
        %h3
          %a{ href: 'https://github.com/ollie/rvm_installer' } RVM Installer
          %small
            %a{ href: 'https://github.com/ollie/rvm_installer' } Source code
        %p If you need to create a lot of gemsets and bundle installs, you might want to use this.

    .grid.grid_4
      .content
        %h3
          %a{ href: 'https://github.com/ollie/fluid_grid_system ' } Fluid Grid System
          %small
            %a{ href: 'https://github.com/ollie/fluid_grid_system' } Source code
        %p Fluid Grid System Based on 960 Grid System (<a href="http://960.gs/">http://960.gs/</a>) by Nathan Smith. Supports infinite nesting.
    .clear

    .grid.grid_4
      .content
        %h3
          %a{ href: 'https://github.com/ollie/whereisit ' } Where Is It?
          %small
            %a{ href: 'https://github.com/ollie/whereisit' } Source code
        %p A simple Rails app for keeping track of projects with tags and ajax goodies. I often forget where what is so now I will know.

    .grid.grid_4
      .content
        %h3
          %a{ href: 'https://github.com/ollie/simpsons ' } Simpsons
          %small
            %a{ href: 'https://github.com/ollie/simpsons' } Source code
        %p Just a simple Rails app for keeping track of Simpsons episodes.
    .clear

.stripe
  .width.container.container_12
    .grid.grid_12
      .content
        %h2 Want To Work With Me?

        %p Send me an e-mail to oldrich.vetesnik [at] gmail.com, you can also find me on <a href="https://github.com/ollie" rel="nofollow">GitHub</a>, <a href="https://twitter.com/vetesnik" rel="nofollow">Twitter</a>, <a href="https://www.facebook.com/oldrichvetesnik" rel="nofollow">Facebook</a>, <a href="https://plus.google.com/u/0/109652828614065979930" rel="nofollow">Google+</a> and <a href="http://olliebollie.deviantart.com/" rel="nofollow">deviantART</a>.
    .clear
