.grid.grid_12
  .content
    %h1 Oldřich Vetešník

    %p I am a web developer and a freelancer, usually building web applications in <a href="http://rubyonrails.org/">Rails</a> and simple tools in <a href="http://www.ruby-lang.org/en/">Ruby</a>. Besides that I like to design with JavaScript, HTML & SCSS.

    %h2 Highlights

    %p Here are a few things I have done and might be useful to you:

.grid.grid_4
  .content
    %h3
      %a{ :href => 'http://responsive.oldrichvetesnik.cz/' } Responsive
    %p A simple HTML page to test other pages in different resolutions and/or User Agent strings
    %p
      %a{ :href => 'https://github.com/ollie/responsive' } Source code

.grid.grid_4
  .content
    %h3
      %a{ :href => 'http://screencasts.oldrichvetesnik.cz/' } Screencasts
    %p A web application for keeping track of screencasts you have or haven't seen.
    %p
      %a{ :href => 'https://github.com/ollie/screencasts' } Source code

.grid.grid_4
  .content
    %h3
      %a{ :href => 'http://fsx.oldrichvetesnik.cz/' } FSX Flight Planner
    %p A simple Rails application for generating random flight plans for Microsoft Flight Simulator X Gold.
    %p
      %a{ :href => 'https://github.com/ollie/fsx_flight_planner' } Source code

.grid.grid_4
  .content
    %h3
      %a{ :href => 'https://github.com/ollie/rvm_installer' } RVM Installer
    %p If you need to create a lot of gemsets and bundle installs, you might want to use this.
    %p
      %a{ :href => 'https://github.com/ollie/rvm_installer' } Source code

.grid.grid_4
  .content
    %h3
      %a{ :href => 'https://github.com/ollie/reminder' } Reminder
    %p This is a simple Ruby command-line application to display upcoming and past events like birthdays, namedays and payments.
    %p
      %a{ :href => 'https://github.com/ollie/reminder' } Source code

.grid.grid_4
  .content
    %h3
      %a{ :href => 'https://github.com/ollie/fluid_grid_system ' } Fluid Grid System
    %p Fluid Grid System Based on 960 Grid System (http://960.gs/) by Nathan Smith. Supports infinite nesting.
    %p
      %a{ :href => 'https://github.com/ollie/fluid_grid_system' } Source code

.grid.grid_4
  .content
    %h3
      %a{ :href => 'http://blog.oldrichvetesnik.cz/' } Blog
    %p Just my rants.

.grid.grid_12
  .content
    %h2 Want To Work With Me?

    %p Send me an e-mail to oldrich.vetesnik [at] gmail.com.
