@charset "UTF-8";
/* line 1, ../../../scss/cv/basic.css.scss */
html {
  margin: 0;
  padding: 0;
  font: 14px/24px Georgia, "Times New Roman", Times, serif;
  color: #333;
  background: white;
}

/* line 2, ../../../scss/cv/basic.css.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 4, ../../../scss/cv/basic.css.scss */
p {
  margin: 24px 0;
}

/* line 5, ../../../scss/cv/basic.css.scss */
p.nm {
  margin: 0;
}

/* line 6, ../../../scss/cv/basic.css.scss */
.clearfix {
  clear: both;
}

/* * * * * *  nadpisy  * * * * * */
/* line 10, ../../../scss/cv/basic.css.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 0;
  font-size: 14px;
  color: black;
}

/* line 11, ../../../scss/cv/basic.css.scss */
h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: normal;
}

/* line 12, ../../../scss/cv/basic.css.scss */
h2 {
  font-size: 20px;
  font-weight: normal;
}

/* line 13, ../../../scss/cv/basic.css.scss */
h2.line {
  margin-bottom: 12px;
  padding-bottom: 12px;
  line-height: 23px;
  border-bottom: dotted 1px #ccc;
}

/* line 16, ../../../scss/cv/basic.css.scss */
h2 + * {
  margin-top: 0;
}

/* * * * * *  seznamy  * * * * * */
/* line 20, ../../../scss/cv/basic.css.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 21, ../../../scss/cv/basic.css.scss */
ul li {
  list-style: none;
}

/* line 23, ../../../scss/cv/basic.css.scss */
dl {
  margin: 0;
  padding: 0;
}

/* line 24, ../../../scss/cv/basic.css.scss */
dl dd {
  margin: 0;
}

/* * * * * *  odkazy  * * * * * */
/* line 28, ../../../scss/cv/basic.css.scss */
a {
  padding: 3px 5px;
  text-decoration: none;
  color: #fffcfb;
  background: #33383f;
}

/* line 29, ../../../scss/cv/basic.css.scss */
a:hover {
  color: #ed8917;
}

/* * * * * *  obrázky  * * * * * */
/* line 33, ../../../scss/cv/basic.css.scss */
img {
  border: none;
}

/* * * * * *  tabulky  * * * * * */
/* line 37, ../../../scss/cv/basic.css.scss */
table {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
  line-height: 23px;
}

/* line 38, ../../../scss/cv/basic.css.scss */
table caption {
  border-bottom: solid 1px #dadada;
  background: #eee;
}

/* line 40, ../../../scss/cv/basic.css.scss */
table th,
table td {
  padding: 0 12px;
  border: solid 1px #dadada;
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
  font-size: 1em;
}

/* line 42, ../../../scss/cv/basic.css.scss */
table th {
  font-weight: bold;
}

/* line 44, ../../../scss/cv/basic.css.scss */
table th.nlb,
table td.nlb {
  border-left: none;
}

/* line 46, ../../../scss/cv/basic.css.scss */
table th.nrb,
table td.nrb {
  border-right: none;
}
