@charset "UTF-8";
html {
  font: 1em/1.5em Georgia, "Times New Roman", Times, serif;
  color: #222;
  background: white;
}

h1 {
  margin: 0 0 0.44444em;
  font-size: 2.25em;
  color: #444;
  line-height: normal;
  font-weight: normal;
}

h2 {
  margin: 1em 0 0.66667em;
  font-size: 1.5em;
  font-weight: normal;
}

h3, h4, h5, h6 {
  margin: 1.33333em 0 0.88889em;
  font-size: 1.125em;
}

h2 small, h3 small {
  font-size: 0.66667em;
  line-height: 1;
}
h2 small a, h3 small a {
  margin-left: 8px;
  color: #aaa;
  text-decoration: none;
}
h2 small a:hover, h2 small a:focus, h3 small a:hover, h3 small a:focus {
  color: blue;
  text-decoration: underline;
}

p, ul, ol, dl, pre {
  margin: 1em 0;
}

ul {
  padding: 0;
  list-style: none;
}
ul li {
  padding-left: 1.5em;
  background: url(/images/gfx/list-item.gif) 0.5em 0.5625em no-repeat;
}

ol {
  margin-left: 2.5em;
  padding: 0;
}

a {
  color: blue;
}

q:lang(cs) {
  quotes: '„' '“' '‚' '‘';
}

hr {
  height: 1px;
  margin: 2em 0;
  border: none;
  color: #dadada;
  background: #dadada;
}

.clear {
  clear: both;
}
