html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.stripe {
  padding: 2em 0;
}

.stripe:nth-of-type(2n) {
  background: #eee;
}

.stripe:first-of-type {
  padding-top: 4em;
}

.stripe:last-of-type {
  padding-bottom: 4em;
}

.width {
  width: 80%;
  margin: 0 auto;
}

.loading img {
  margin-right: 5px;
  vertical-align: top;
}
.loading span {
  vertical-align: middle;
}

.mee {
  float: right;
  margin: 0 0 0 1em;
  line-height: 1;
}
.mee img {
  margin: 0;
}
.mee .caption {
  display: block;
  font-size: 0.6875em;
  color: #aaa;
  text-align: center;
}

.image img {
  width: 100%;
  max-width: 306px;
  vertical-align: middle;
}
.image a {
  display: inline-block;
  padding: 2px;
  border: solid 5px #ccc;
  background: white;
}
.image a img {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.image a:hover, .image a:focus {
  border-color: #aaa;
}
.image a:hover img, .image a:focus img {
  -moz-filter: none;
  -webkit-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

@media screen and (max-width: 767px) {
  .container_12 .grid_4 {
    width: 100%;
  }

  .mee {
    display: none;
  }
}
