/* line 1, ../../scss/layout.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 3, ../../scss/layout.scss */
.stripe {
  padding: 2em 0;
}

/* line 4, ../../scss/layout.scss */
.stripe:nth-of-type(2n) {
  background: #eee;
}

/* line 5, ../../scss/layout.scss */
.stripe:first-of-type {
  padding-top: 4em;
}

/* line 6, ../../scss/layout.scss */
.stripe:last-of-type {
  padding-bottom: 4em;
}

/* line 8, ../../scss/layout.scss */
.width {
  width: 80%;
  margin: 0 auto;
}

/* line 11, ../../scss/layout.scss */
.loading img {
  margin-right: 5px;
  vertical-align: top;
}
/* line 12, ../../scss/layout.scss */
.loading span {
  vertical-align: middle;
}
