html			{ font: 14px/1.5em Arial, Helvetica, sans-serif; }

table			{ clear: both; width: 100%; border-collapse: collapse; font-size: 12px; }
th,
td				{ padding: 3px 10px; border: solid 1px #eee; }
th				{ background: #eee; border-color: #ddd; text-align: left; }
tr.even		{ background: #f8f8f8; }

tr:hover		{ background: #ffffe0; }

h1				{ margin: 0 0 14px; font-size: 24px; }