html				{ margin: 0; padding: 0; font: 14px/24px Georgia, "Times New Roman", Times, serif; color: #333; background: white; }
body				{ margin: 0; padding: 0; }

p					{ margin: 24px 0; }
p.nm				{ margin: 0; }
.clearfix		{ clear: both; }
.mb				{  }


/* * * * * *  nadpisy  * * * * * */
h1, h2, h3, h4, h5, h6	{ margin: 24px 0 0; font-size: 14px; color: black; }
h1								{ font-size: 36px; margin-top: 0; margin-bottom: 24px; font-weight: normal; }
h2								{ font-size: 20px; font-weight: normal; }
h2.line						{ margin-bottom: 12px; padding-bottom: 12px; line-height: 23px;
								  border-bottom: dotted 1px #ccc; }

h2 + *						{ margin-top: 0; }


/* * * * * *  seznamy  * * * * * */
ul				{ margin: 0; padding: 0; list-style: none; }
ul li			{ list-style: none; }

dl				{ margin: 0; padding: 0; }
dl dt			{  }
dl dd			{ margin: 0; }


/* * * * * *  odkazy  * * * * * */
a				{ padding: 3px 5px; text-decoration: none; color: #fffcfb; background: #33383f; }
a:hover		{ color: #ed8917; }


/* * * * * *  obrázky  * * * * * */
img				{ border: none; }


/* * * * * *  tabulky  * * * * * */
table				{ width: 100%; font-size: 1em; border-collapse: collapse; line-height: 23px; }
table caption	{ border-bottom: solid 1px #dadada; background: #eee; }
table th,
table td			{ padding: 0 12px; border: solid 1px #dadada; vertical-align: middle; text-align: left;
					  font-weight: normal; font-size: 1em; }
table th			{ font-weight: bold; }
table th.nlb,
table td.nlb	{ border-left: none; }
table th.nrb,
table td.nrb	{ border-right: none; }
