.stripe
  .wrapper
    .width.container.container_12
      .grid.grid_12
        .content
          %p
            Copyright © #{ @year == 2012 ? 2012 : "2012 – #{ @year }" } Oldřich Vetešník
            %br
            IČ: 74617028,
            %a{ href: '/cv' } CV
      .clear
