.stripe
  .width.container.container_12
    .grid.grid_12
      .content
        %p
          Copyright © #{ @year == 2012 ? 2012 : "2012 – #{ @year }" } Oldřich Vetešník
          %a{ :href => 'http://en.gravatar.com/mrmil', :title => 'I need a better photo :)', :class => 'gravatar', :rel => 'nofollow' }
            %img{ :src => 'http://www.gravatar.com/avatar/bfb13280800598ce77682b1f6b7ddbaa?s=14', :alt => '' }
          %br
          IČ: 74617028
    .clear