.stripe
  .width.container.container_12
    .grid.grid_12
      .content
        %h2
          My repositories on
          %a{ href: 'https://github.com/ollie', rel: 'nofollow' } GitHub
          %small (ordered by modification date)
    #github{ :'data-message-loading' => 'Loading repositories&hellip;',
      :'data-message-error' => 'Sorry, service seems to be unavailable. :(' }
    .clear